[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/vim-hybrid-material"]
	path = bundle/vim-hybrid-material
	url = https://github.com/kristijanhusak/vim-hybrid-material.git
[submodule "bundle/forgotten"]
	path = bundle/forgotten
	url = https://github.com/nightsense/forgotten.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-quickrun"]
	path = bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/CompleteParameter.vim"]
	path = bundle/CompleteParameter.vim
	url = https://github.com/tenfyzhong/CompleteParameter.vim.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/open-in-browser.vim"]
	path = bundle/open-in-browser.vim
	url = https://github.com/MikeCoder/open-in-browser.vim.git
[submodule "bundle/vim-coloresque"]
	path = bundle/vim-coloresque
	url = https://github.com/gko/vim-coloresque.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "bundle/vim-vue"]
	path = bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/markdown-preview.vim"]
	path = bundle/markdown-preview.vim
	url = https://github.com/iamcco/markdown-preview.vim.git
[submodule "bundle/mathjax-support-for-mkdp"]
	path = bundle/mathjax-support-for-mkdp
	url = https://github.com/iamcco/mathjax-support-for-mkdp.git
