let mapleader = ';'

set ignorecase smartcase 								" 搜索时忽略大小写，但在有一个或以上大写字母时仍保持对大小写敏感
set nowrapscan 											" 禁止在搜索到文件两端时重新搜索
set incsearch 											" 输入搜索内容时就显示搜索结果
set hlsearch 											" 搜索时高亮显示被找到的文本
set relativenumber 										" 设置相对行号
set nu                                                  " 设置行号

set clipboard+=unnamed 									" Vim 的默认寄存器和系统剪贴板共
set history=100000
" select模式下复制
if has("clipboard")
    vnoremap <C-C> "+y
endif
" 弹出输入框，可以跳到指定类
nnoremap <Leader>gc :action GotoClass<CR>
" 弹出输入框，跳转到指定操作
nnoremap <Leader>ga :action GotoAction<CR>
" 跳转到定义
nnoremap <Leader>gd :action GotoDeclaration<CR>
" 跳转到实现
nnoremap <Leader>gi :action GotoImplementation<CR>
" 跳转到指定的文件
nnoremap <Leader>gf :action GotoFile<CR>
" 跳转到方法的声明
nnoremap <Leader>gs :action GotoSuperMethod<CR>
" 跳转到测试
nnoremap <Leader>gt :action GotoTest<CR>
" 跳转到变量的声明
nnoremap <Leader>gS :action GotoSymbol<CR>

" 查找使用
nnoremap <Leader>fu :action FindUsages<CR>
" 显示使用
nnoremap <Leader>su :action ShowUsages<CR>

" 类前进
nnoremap <Leader>f :action Forward<CR>
" 类后退
nnoremap <Leader>b :action Back<CR>
